.game-board {
  min-height: 800;
  min-width: 800;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  background-color: #000;
  border: 2px solid #34495e;
  position: relative;
}
